<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
</startup>
  <appSettings>
        <!--SqlConnection 数据库链接字段-->
        <!--server=127.0.0.1;database=zlt-monitors;uid=sa;pwd=123-->
        <add key="ConnectionString" value="Data Source=DESKTOP-3VBROU3;Initial Catalog=zlt-monitors;Connection Timeout=15;Persist Security Info = false;Uid=sa;Pwd=123"/>
    
        <add key="varsid" value="1=1号水泵,3=2号水泵,5=3号水泵,7=4号水泵,9=5号水泵,11=6号水泵"/>
         <!--流量速率 吨/小时-->
        <add key="waterflow" value="1=960,3=960,5=960,7=1988,9=1988,11=1988"/>
        <add key="waterid" value="13=南水位,14=北水位"/>
        <!--表头文字-->
         <add key="title" value="{0}~{1}时间段内统计"/>
         <add key="headnames" value="水泵, 开启时间, 开启时南水位, 开启时北水位, 关闭时间, 关闭时南水位, 关闭时北水位, 时间段内运行时长, 时间段内流量, 时间段内总运行时长, 时间段内总流量"/>
  </appSettings>
</configuration>
